* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}
  
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
}

#pokemon {
    text-align: center;
}

.classeimg img {
    width:250px;
    margin: 7px;
}